/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ECE9E1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label {
    padding: 18px;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.35em;
    font-family: 'Red Hat Text';
    color: #C74138;
}
input {
    margin-top: 20px;
    margin-left: 20%;
    font-family: 'Open Sans';
    font-size: 1.5em;
    border: 0;
}
button {
    font-family: 'Red Hat Text';
    color:  #ECE9E1;
    background-color: #C74138;
    font-weight: 700;
    border: 0px;
    font-size: 1.5em;
}
div.mobile label {
    padding-left: 15%;
    text-align: center;
    font-size: 1em;
}
div.mobile input {
    width: 60%;
}
div.mobile button {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
}
p.error_message {
    font-family: 'Red Hat Text';
    font-weight: 700;
    color: #C74138;
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
}
img.desktop {
	height: 100vh;
	width: auto;
    display: block;
	margin-left: auto;
	margin-right: auto;
}

div.mobile {
	height: 100vh;
	width: 100%;
	display: block;
}

div.form-group {
    width: 50%;
    margin: auto;
    margin-bottom: 12em;
}

div.form-group-mobile {
    height: 20vh;
	width: 100%;
    margin: auto;
    margin-bottom: 12em;
}

img.mobile {
	height: auto;
	width: 150%;
	display: block;
	margin: 0% -25% 0% -25%;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
}


.section1, .section2, .section3 {
    position: relative;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.section1 {
    background-color: #eeeeee;
    color:  #20A39e;
}

.section2 {
    background-color: #C74138;
    color: #eeeeee;
   
}

.section3 {
    
    color: #ecae58;
    background-color: #262730;

    /*
    background-color: #C74138;
    color: #eeeeee;

    background-color: #C74138;
    color: #eeeeee;
    
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 140px;
    padding-bottom: 100px;
    */
}

.section3 a {
    color: #ecae58;
    font-style: italic;
    text-decoration: none;
}

.section3 a:hover {
    color: #ECE9E1;
}

.footer {
    background-color: #ECE9E1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #20A39e;
    font-family: 'Red Hat Text';
}

.footer a {
    text-decoration: none;
    color: #20A39e;
}


.icons {
    font-size: 4em;
}

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}
  
ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
    font-weight: bold;
}
  
ul.actions.special {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
}
  
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
  
ul.icons li {
    display: inline-block;
    padding: 1.25em;
}

ul.icons li:hover {
    opacity: 0.7;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}


.bgimg-1 {
    background-image: url("../../photoslideshow/slide6.jpg");
}

.bgimg-2 {
    background-image: url("../../photoslideshow/slide5.jpg");
}

.bgimg-3 {
    background-image: url("../../photoslideshow/slide7.jpg");
}

.bgimg-4 {
    background-image: url("../../photoslideshow/slide4.jpg");
}

.bgimg-5 {
    background-image: url("../../photoslideshow/slide2.jpg");
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border1, .caption span.border2, .caption span.border3 {
    padding: 18px;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.35em;
    font-family: 'Red Hat Text';
    /*
    letter-spacing: 5px;
    */
}

.caption span.border2, .caption span.border3 {
    opacity: 0.9;
}

.caption span.border1 {
    opacity: 0.95;
    background-color: #C74138;
    color: #fff;
}

.caption span.border2 {
    color: #ecae58;
    background-color: #262730;
}

.caption span.border3 {
    background-color: #eeeeee;
    color:  #20A39e;
}

.para {
    padding-top: 30px;
}

.grid-container {
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

h1 {
    font-family: 'Red Hat Text';
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.35em;
    color: inherit;
}

h2 {
    font-family: 'Red Hat Text';
    font-size: 2.5em;
    font-weight: 510;
    line-height: 1.35em;
    color: inherit;
}

p {
    color: inherit;
    font-family: 'Open Sans';
    font-size: 1.25em;
    line-height: 1.35;
}

img.sponsor2 {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: none;
	width: 100%;
	height: auto;
	max-width: 20em;
	margin-bottom: 3em;
}

/*
.image-text {
    color: inherit;
    background-color: inherit;
    padding-top: 20px;
    padding-left: 50px;
}
*/

img.a {
/*
  vertical-align: sub;
  padding-right: 20px;
  width: 20%;
  
  max-height: 13em;
  display: inline-block;
  overflow: hidden;
  padding: 0 2em 0em 0;
  */
  max-height: 13em;
  float: left;
  overflow: hidden;
  padding: 0 2em 2em 0;
}

img.a:hover {
    opacity: 0.7;
}

.topnav {
    overflow: hidden;
    background-color: #ECE9E1;;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    width: 100%;
    z-index: 3;
}
 
.topnav a.logo {
    float: left;
    display: block;
    padding-top: 16px;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

.topnav a.text {
    float: left;
    display: block;
    color: #20A39e;
    text-align: center;
    padding: 32px 40px;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-weight: 510;
    font-size: 20px;
}
  
.topnav a.text:hover {
    background-color: #eeeeee;
    color:#20A39e;
}
  
.topnav a.text:active {
    background-color: #eeeeee;
    color: #20A39e;
}
  
.topnav .icon {
    display: none;
    color: #92CABF;
    padding: 30px 30px;
    font-size: 20px;
}

.topnav a.icon:hover {
    background-color: #eeeeee;
    color: #20A39e;
}

.topnav a.icon:active {
    background-color: #eeeeee;
    color: #20A39e;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
      background-attachment: scroll;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed; top: 0;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .image-text {
        padding-left: 40px;
    }

    .section3 {
        padding-right: 100px;
        padding-bottom: 70px;
    }

    img.a {
        float: none;
        display: block;
        padding: 0 2em 2em 0;
    }

}

